<article class="www-components flex-auto col-12">
	<section class="www-component-desc" id="samples_templates">
		<h2 class="www-heading pb4 mb2 relative">Trivia Contest </h2>
		<!--<div class="mb4">
			<p>Templates and metadata samples for different kinds of AMPs.</p>
		</div>
		-->
		{{ $urlPre := getJSON  "https://opentdb.com/api.php?amount=10" }}
		{{ $.Scratch.Add "qa" 0 }}
		{{ $opt := "init" }}
		{{ $length := (len $urlPre.results) -}}
		{{ $.Scratch.Set "counter" 0 }}
		
		{{ range $index, $value := $urlPre.results  }}
		{{ $ch := .type }}
			
		{{ end }}
		
		<div class="abe-examples flex flex-wrap">
			<div class="ampstart-card abe-sample-card flex flex-column flex-auto p1 mb1 mw100">
				<div class="quizContainer container-fluid well well-lg" style="margin-top:20px">
					<div class="question"></div>
					<ul class="choiceList"></ul>
					<div class="quizMessage"></div>
					<div class="result" style="color:green; font-weight:bold"></div>
					<!--<button class="preButton">Previous Question</button>
					<button class="nextButton">Next Question</button>
					-->
					<button class=" ampstart-btn caps text-decoration-none inline-block right submitNow">DONE</button>
					<span class="pull-right curstatus"> </span>
				</div>
			</div>		
		</div>
	</section>
</article>

<article class="www-components flex-auto col-12">
	<section class="www-component-desc" id="samples_templates">
		
		<div class="abe-examples flex flex-wrap">
			<div class="ampstart-car  flex flex-column flex-auto p1 mb1 mw100">
			
			<div id="results"></div>
		
		
				
                    <div class="abe-sample-card-actions">
						
							<button id="previous" class="ampstart-btn caps text-decoration-none inline-block preButton">Previous</button>
		<button id="next" class="ampstart-btn caps text-decoration-none inline-block right nextButton">Next</button>
					
					</div>
            </div>
		</div>
		
		{{ range $urlPre.results }}
			{{ if gt $.Date.Unix .Date.Unix }}
			  {{ $.Scratch.Set "previous" .Permalink }}
			{{ end }}
		{{ end }}
		{{ range where .Site.Pages.ByDate.Reverse "Params.series" .Params.series }}
			{{ if lt $.Date.Unix .Date.Unix }}
			  {{ $.Scratch.Set "next" .Permalink }}
			{{ end }}
		{{ end }}
		

		
	</section>
</article>

			

